<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WattNerd</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="flex justify-center mx-auto py-8 h-14 px-8 bg-white text-black">
            <div class="flex flex-row justify-between items-center space-x-20 items-center mt-2">
                <h3 class="text-2xl">WattNerd</h3>
                <ul class="flex space-x-8">
                    <a class="cursor-pointer"><li>Home</li></a>
                    <a class="cursor-pointer"><li>Categories</li></a>
                    <a class="cursor-pointer"><li>Library</li></a>
                    <a class="cursor-pointer"><li>Checkout</li></a>
        
                </ul>
                <a href="#" role="button" class="relative flex">
                    <svg class="flex-1 w-8 h-8 fill-current" viewbox="0 0 24 24" >
                      <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"/>
                      </svg>
                      <span class="absolute right-0 top-0 rounded-full bg-red-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm  leading-tight text-center">5
                    </span>
                  </a>
            </div>
        </div>
       
    </nav>
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="flex justify-center mx-auto px-2 py-4 bg-gray-100 text-black">
            <div class="flex flex-row space-x-12 space-y-4">
                <h3 class="text-2xl text-bold pt-8">WattNerd</h3>
                <div class="flex flex-row space-x-6">
                    <ul class="text-1xl">
                        <li>Policy</li>
                        <li>Terms and Condition</li>
                        <li>Copyright</li>

                    </ul>
                </div>
                <div class="flex space-x-6 space-y-4">
                    <ul>
                        <li>Cart</li>
                        <li>Library</li>
                        <li>Categories</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>LogIn</li>
                        <li>Register</li>
                        <li>What's Up?</li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>